.navbar{
    padding: 1rem;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
  }
  
  .links{
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  .logo{
    width: 4rem;
    margin-right: 0.5rem;
  }


